<h1>Welcome to Sliceline!</h1>
<h4>THE BEST WAY TO ORDER FOOD</h4>

<%= button_to "Login", '/login', method: :get %>
<%= button_to "Create an User", '/users/new', method: :get %>

<% if flash[:message] %>
    <p><%= flash[:message] %></p>
<% end %>





