<h1>Your Orders</h1>
<div>
<% @orders.each do |order| %>
    <h3><%= link_to order.order_number, order %></h3>
    <% order.cart.each do |cart| %>
        <p><%= cart.quantity %> <%= cart.item.name %></p>
    <% end %>
<% end %>
</div>
