.locations {
    display: flex;
    justify-content: space-evenly;
}

.location {
    border: 2px solid orangered;
    margin: 3px;
    padding: 5px;
    background-color: lightcyan;
}

#home_button {
    text-align: center;
    margin: 10px;
}